/* google fonts here */

/* end of google fonts  */

body {
  margin: 0;
  background-color: #92b0ed;
}
a {
  text-decoration:none;
  color:black;
}

p
{
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.topnav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-left: 100px;
}

.topnav-nav
{ 
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:  0px 20px  0px 20px;
}

.topnav-img
{
  width: 250px;
  height: 80px;
  margin: 10px 0px 0px 50px;
}

.nav-text
{
  color: white; 
  font-size: 30px;
  margin-top:20px;
  margin-right:20px;
  font-family: 'Raleway', sans-serif; 
  font-weight: bold;
  margin: 10px 40px 20px 50px;
}

.topnav a {
  text-decoration: none;

}

.topnav a.active {
  background-color: #92b0ed;
  color: white;
  text-align: center;
  padding-top: 32px;
  padding-right:85px;
  text-decoration: none;
  font-size: 30px;
  margin-top:20px;
  margin-right:20px;
  font-family: Raleway Regular;
  font-weight: bold;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 2000px;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #92b0ed;
}

.flex-container > div {
  background-color: #92b0ed;
  text-align: center;
  font-size: 20px;
  margin-top: 225px;
  width: 250px;
}

.column {
    float: left;
    width: 50%;
    height: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color: #F2D08F;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: auto;
}



.img-circular{

 background-size: cover;
 display: block;
 padding-bottom: 200px;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.mod1
{
  width:600px; 
  margin-top: 325px;
}

.column-mod1
{
  width:30px;
}

.column-mod2
{
  width:300px; 
  margin-left: 125px;
}

.products_grid_wrapper
{
  display: grid;
  max-width: 1200px;
  grid-gap: 5px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  grid-auto-rows: minmax(90px,auto);
  text-align: center;
  font-family: Allerta;
}

.products_grid_panel
{
  background-color: #444;
  color: white;
  padding: 10px;
  border-color: white;
  text-align: center;
  font-family: Allerta;

}

.products_body_flex
{
  display: flex;
  align-items: space-between;
  max-width: 900px;
  margin:150px 100px 10px 100px;
}

.circle-outer
{
    background: #EAABBF;
    border-radius: 50%;
    height:10px;
    width:10px;
    box-shadow: 0 0 0 30px white;
    margin: 20px;
}

.circle-inner
{
    background: #EAABBF;
    border-radius: 50%;
    height:10px;
    width:10px;
    margin:10px;
}

.circle-outer-blue
{
    background: rgb(123, 183, 182);
    border-radius: 50%;
    height:10px;
    width:10px;
    box-shadow: 0 0 0 30px white;
    margin: 20px;
}

.circle-inner-blue
{
    background: rgb(123, 183, 182);
    border-radius: 50%;
    height:10px;
    width:10px;
    margin:10px;
}

.circle-dynamic
{
    background: black;
    border-radius: 50%;
    height:70px;
    width:70px;
    margin:10px;

}

.line
{
  width: 200px;
  border-bottom: 3.5px solid white;
  margin:25px 0px;
}


.row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.column-customize
{
    display: table-cell;
}

.flex-wrapper
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin-top:30px;
}

.flex-wrapper-modals
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin-top:30px;
  max-width: 1500px;
}

.flex-wrapper-ps
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 0px 0px 0px 150px;
}

.flex-wrapper-sm
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 0px 0px 0px 150px;
}

.flex-wrapper-of
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: 80px 0px 0px 560px;
  max-width: 900px;
  border: 5px solid white;
}

.flex-wrapper-pd1
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0px 0px 0px 50px;
}

.flex-wrapper-pd2
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
  max-width: 200px;
  margin: 0px 0px 0px 900px;

}

.flex-wrapper-pd3
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0px 0px 0px 50px;
  padding-bottom: 40px;
}

.flex-wrapper-cf
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: 80px 0px 20px 300px;
  max-width: 1200px;
  border: 5px solid white;
}

.flex-wrapper-cf1
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: 0px 0px 20px 300px;
  max-width: 1500px;  
}

.flex-wrapper-steps
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin:20px 0px 0px 538px;
  max-width: 1000px;
}

.flex-wrapper-steps-of
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin:20px 0px 0px 680px;
  max-width: 700px;
}

.flex-wrapper-customize
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
}

.flex-wrapper-buttons
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 0px 0px 40px 500px;
  max-width: 1100px;
}



.flex-right
{
  display: flex;
  align-items: right;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 50px 0px 30px 630px;
}


.flex-sub-wrapper
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.flex-wrapper-colors
{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-flow: row nowrap;
  margin-top:30px;
}

.customize-title
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  color: white;
  font-size:50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.customize-next-button
{
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #F2D08F;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 10px auto;
    width: 300px;
}

.customize-next-button2
{
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #F2D08F;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 10px auto;
    width: 300px;
}

.customize-style-img
{
  width: 300px;
  height: 150px;
}

.customize-style-img2
{
  width: 250px;
  height: 200px;
}

.customize-style-img3
{
  width: 370px;
  height: 300px;
}

.customize-ps-img
{
  width: 700px;
  height: 600px;
}

.customize-ps-img2
{
  width: 700px;
  height: 500px;
}

.customize-ps-img3
{
  width: 700px;
  height: 400px;
}

.customize-sm-img
{
  width: 700px;
  height: 400px;
}

.customize-of-img
{
  width: 300px;
  height: 150px;
}

.customize-of-img2
{
  width: 300px;
  height: 250px;
}


.our-story{
    background: #F2D08F;

}
.topnavstory{
  background-color: #f2d08f;  
}
.topnavstory a.active{
  background-color: #f2d08f;
}

.header-story{
  text-align: center;
  margin-top: 150px;
  color: white;
  font-size: 50px;
  font-family: Roboto Light, sans-serif;
}

h2{
  margin-top: 150px;
  font-size: 50px;
  font-weight: bold;
}

.paragraph1{
  margin-top: 15px;
  margin-left: 150px;
}
.paragraph1 p{
  font-size: 23px;
  width: 600px;
}

.flex-wapper{
  margin-top:20px;
}

.grid-panel{

}
.paragraph2{
  font-size: 30px;
  width: 650px;
  margin-left: 120px;

}

  .footer{
     background-color: #EAABBF;
     bottom:0;
     width:100%;
     height:220px; 
     margin-top: 220px; 

  }
  .column2{
    float: left;
      width: 50%;
      height: 50%;
      margin-top: 20px;
  }
  .column{
    font-size: 12px;
  }
  .column2 p{
    color: black ;
  }
  .row2:after {
      content: "";
      display: table;
      clear: both;
  }

  .column3{
    float: left;
      width: 50%;
      height: 50%;
      margin-top: 20px;
  }

  .row3:after{
    content: "";
      display: table;
      clear: both;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal_content {
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    color:black;
    font-weight: 1.5px;
    font-family: Allerta;
    font-size: 22px;
    text-align: center;
    background-color: #92B0ED;
}

.border-appear
{
  border: 5px solid white;
}

.spacing-adjust
{
  margin: 0px 0px 100px 170px;
}

.spacing-adjust-ps
{
  margin: 0px 100px 0px 0px;
}

.spacing-adjust-desc
{
  margin: 50px 0px 50px 0px;
  color: white;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.spacing-adjust-of
{
  margin-top: 100px;
}

.spacing-adjust-extra
{
  margin: 50px 0px 0px 0px;
  color: white;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.spacing-adjust-extra2
{
  margin: 10px 0px 0px 0px;
  color: white;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.spacing-adjust-colors
{
  margin: 10px 0px 0px 0px;
  color: white;
  font-size: 25px;
  padding-top: 10px;
}

.desc-font-modif-title
{
  color: white;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-weight: bold;
}

.desc-font-modif-content
{
  color: white;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.desc-font-modif-img
{
  color: white;
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
.customize-material-img
{
  height: 400px;
  width: 700px;
}

.flex-wrapper-material
{
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  align-items: center;
  margin: auto;
}

.nav-font
{
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}

.steps-font
{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.customize-desc-font
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size:35px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal; 
  margin:80px;
}

.color-modif
{
  background-color: rgb(124, 184, 182);
}

.color-modif2
{
  background-color: #EAABBF;
}

.text-box-spacing
{
  width: 200px;
  height: 40px;
  margin: 10px 0px 10px 0px;
  font-size: 25px;
  font-family: 'Raleway'; sans-serif;
  background-color: #F2D08F;
  border: none;
  color: white; 
}

.size-chart-link
{
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  text-decoration: underline;
}

.img-text-of-title
{
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-text-of-desc
{
  color: white;
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}

.price-text-of-desc
{
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-text-of-desc2
{
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.text-box-of
{
  background-color: #EAABBF;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 3px solid white;
  width: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
}

.text-box-pd
{
  background-color: #7CB8B6;
  border: none;
  width: 300px;
  height: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  margin: 0px 0px 20px 0px;
}

.text-box-pd-adr
{
  background-color: #7CB8B6;
  border: none;
  width: 300px;
  height:100px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  margin: 0px 0px 20px 0px;
  word-wrap: break-word;
  resize: none;
}

.text-box-label-pd
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 125px;
  margin: 10px 0px;
}

.text-box-label-ln
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right:140px;
  margin: 10px 0px;
}

.text-box-label-em
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right:167px;
  margin: 10px 0px;
}

.text-box-label-fn
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right:207px;
  margin: 10px 0px;
}

.text-box-label-adr
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right:215px;
  margin: 10px 0px;
}

.text-box-label-zp
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right:223px;
  margin: 10px 0px;
}

.text-box-label-ct
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right:260px;
  margin: 10px 0px;
}

.price-container-spacing
{
  margin: 0px 20px 0px 20px;
}

.pd-text-desc
{ 
  font-size: 30px;
  font-family: 'Roboto'; sans-serif;
  color: white; 
  font-weight: 300;
  margin: 15px 0px 0px 120px;
}

.pd-text-title
{ 
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Quicksand'; sans-serif;
  font-size: 25px;
  font-family: 'Roboto'; sans-serif;
  color: black; 
  font-weight: bold;
  max-width:1290px;
  margin-left: 220px;
  margin-top: 50px;
}

.finish-text
{
  color: white;
  font-size: 50px;
  font-weight: 550;
  font-family: 'Raleway', sans-serif;
  margin: 200px auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  flex-flow: row wrap;  
}

.finish-text-desc
{
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin: 20px auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  flex-flow: row wrap;  
}

.text-box-spacing2
{
  width: 200px;
  height: 40px;
  margin: 10px 0px 10px 0px;
  font-size: 25px;
  font-family: 'Roboto'; sans-serif;
  background-color: #7ABEE0;
  border: none;
  color: white; 
}

.shoemakers-font
{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: white;
  margin: auto;
}

.shoemakers-font-desc
{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 100;
  margin: 25px auto 25px auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
}

.button-index
{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background-color: #F2D08F;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 5px auto;
}

.index-spacing
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-spacing-adjust
{
  margin: 0px 100px 0px 20px;
}

.extra-spacing
{
  margin: 0px 0px 0px 110px;
}

.flex-wrapper-index
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.finish-text2
{
  color: white;
  font-size: 50px;
  font-weight: 550;
  font-family: 'Raleway', sans-serif;
  margin: 200px auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  flex-flow: row wrap;  
}

.topnav-index {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #777070
}

.story-story
{
  font-size: 30px;
  font-family: 'Raleway'; sans-serif;
  font-weight: 600;
  max-width: 700px;
  margin: 70px 0px 0px 140px;
}

.story-story2
{
  font-size: 50px;
  font-family: 'Bree Serif'; serif;
  font-weight: 600;
  max-width: 700px;
}

.story-story3
{
  font-size: 30px;
  font-family: 'Raleway'; sans-serif;
  font-weight: 600;
  max-width: 600px;
  margin: 50px 0px 10px 140px;
}

.story-story4
{
  font-size: 30px;
  font-family: 'Raleway'; sans-serif;
  font-weight: 600;
  max-width: 600px;
  margin: 10px 0px 10px 240px;
}

.story-title
{
  font-size: 50px;
  font-family: 'Raleway'; sans-serif;
  font-weight: bold;
  max-width: 700px;
  font-style: italic;
  margin: 0px 0px 0px 140px;
  color: white;
}

.story-title2
{
  font-size: 50px;
  font-family: 'Raleway'; sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.story-title3
{
  font-size: 40px;
  font-family: 'Raleway'; sans-serif;
  font-weight: bold;
  max-width: 700px;
  font-style: italic;
  margin: 0px 0px 0px 140px;
  color: white;
  margin: 0px 0px 40px 230px;
}

.flex-wrapper-story
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrapper-story2
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.flex-wrapper-story3
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 300px 0px 20px 0px;
}

.flex-wrapper-story4
{
  display: flex;
  flex-flow: row nowrap;
}

.flex-wrapper-story5
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.flex-wrapper-story6
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin: 200px 0px 0px 0px;
}

.index-img-spacing
{
  margin: 0px 20px 0px;
}

.index-img-spacing2
{
  margin: 0px 20px 0px 600px;
}

.story-line
{
  width: 960px;
  height: 25px;
  background: #92B0ED;
}

.story-line2
{
  width: 850px;
  height: 25px;
  background: #92B0ED;
  margin: 30px 0px;
}

.story-line3
{
  width: 883px;
  height: 50px;
  background: #EAABBF;
  margin: 30px 0px 0px 240px;
}

.read-more-index
{
  width: 850px;
  height: 50px;
  background: #7CB8B6;
  margin: 30px 0px;
  text-decoration: underline;
  text-decoration-color: black;
  font-family: 'Roboto'; sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: right;
  padding-top: 5px;
  padding-right: 30px;
}

.flex-wrapper-footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EAABBF;
  padding-top: 20px; 
}

.flex-wrapper-footer2
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAABBF;
  padding-top: 30px;
  padding-bottom: 30px; 
  flex-flow: row nowrap;
}

.footer-title
{
  font-family: 'Roboto'; sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: white;
  margin:0px 20px 0px 20px;
  padding-bottom: 70px; 
}

.footer-contact
{
  font-family: 'Roboto'; sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: white;
  margin:0px 150px 0px 20px;
  padding-bottom: 50px; 
}

.footer-services
{
  font-family: 'Roboto'; sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: white;
  margin:0px 40px 0px 20px;
  padding-bottom: 1px; 
}

.spacing-footer
{
  margin: 0px 50px 0px 0px;
}

.nav-adjust
{
  margin-top: 150px;
}

.products-title
{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.products-desc
{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.flex-wrapper-indivs
{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #F2D08F;
  margin: 40px 30px 0px 200px;
}

.flex-wrapper-indivs2
{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 40px 70px 0px 50px;
  flex-flow: row wrap;
}

.indivs-title
{
  font-family: 'Raleway'; sans-serif;
  font-size: 32px;
  color: white;
  margin: 10px 170px 20px 0px;
}

.indivs-link
{
  font-family: 'Raleway'; sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: underline;
}

.indivs-desc
{
  font-family: 'Raleway'; sans-serif;
  font-size: 25px;
  margin: 10px 0px 20px 0px;
}

.back-indivs
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2D08F;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 200px 0px 0px 200px;
  width: 300px;
}

.modal-spacing-right
{
  margin: 0px 100px 0px 0px;
}

.button-modal
{
  width: 250px;
  height: 50px;
  font-family: 'Raleway'; sans-serif;
  font-size: 25px;
  background-color: #7abee0;
  border: none;
  font-weight: bold;
  align-self: auto;
  margin: 0px 0px 30px 0px;
}

.align-modal-imgs
{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.price-modal
{
  margin: 0px 0px 0px 60px;
  padding-bottom: 470px;
  font-size: 25px;
  font-family: 'Roboto'; sans-serif;
  color: white;  
}

.price-modal-title
{
  margin: 0px 0px 5px 60px;
  font-size: 30px;
  font-family: 'Roboto'; sans-serif;
  color: white;
  font-weight: bold;  
}

.price-modal-title2
{
  margin: 0px 0px 5px 0px;
  font-size: 30px;
  font-family: 'Roboto'; sans-serif;
  color: white;
  font-weight: bold;  
}

.price-modal-title3
{
  margin: 0px 0px 0px 0px;
  font-size: 28px;
  font-family: 'Roboto'; sans-serif;
  color: white;
  font-weight: bold;  
}

.price-modal-title4
{
  margin: 0px 0px 0px 0px;
  font-size: 23px;
  font-family: 'Roboto'; sans-serif;
  color: white;
  font-weight: bold;  
}

.price-modal-desc
{
  margin: 0px 0px 20px 60px;
  font-size: 25px;
  font-family: 'Roboto'; sans-serif;
  color: white;  
  text-align: right;
}

.price-modal-spacing
{
  font-size: 25px;
  font-family: 'Roboto'; sans-serif;
  color: white;  
  text-align: right;
}

.button-modal2
{
  width: 250px;
  height: 50px;
  font-family: 'Raleway'; sans-serif;
  font-size: 25px;
  background-color: #eaabbf;
  border: none;
  font-weight: bold;
  align-self: auto;
  margin: 0px 0px 30px 0px;
}